<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.fpandhis2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <application
        android:name="org.fpandhis2.App"
        android:allowBackup="false"
        android:icon="@drawable/fpan_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="allowBackup">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="org.fpandhis2.usescases.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="play.dhis2.org"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.fpandhis2.usescases.login.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="org.fpandhis2.usescases.main.MainActivity" />
        <activity android:name="org.fpandhis2.usescases.programEventDetail.ProgramEventDetailActivity" />
        <activity
            android:name="org.fpandhis2.usescases.searchTrackEntity.SearchTEActivity"
            android:configChanges="keyboardHidden|screenSize" />
        <activity android:name="org.fpandhis2.usescases.teiDashboard.TeiDashboardMobileActivity" />
        <activity android:name="org.fpandhis2.usescases.qrScanner.ScanActivity" />
        <activity android:name="org.fpandhis2.usescases.teiDashboard.teiProgramList.TeiProgramListActivity" />
        <activity android:name="org.fpandhis2.uicomponents.map.views.MapSelectorActivity" />
        <activity android:name="org.fpandhis2.usescases.programStageSelection.ProgramStageSelectionActivity" />
        <activity android:name="org.fpandhis2.utils.WebViewActivity" />
        <activity
            android:name="org.fpandhis2.usescases.eventsWithoutRegistration.eventInitial.EventInitialActivity"
            android:windowSoftInputMode="stateHidden" />
        <!--<activity android:name=".usescases.teiDashboard.TeiDashboardActivity" />-->
        <activity android:name="org.fpandhis2.usescases.qrCodes.QrActivity" />
        <activity android:name="org.fpandhis2.usescases.qrCodes.eventsworegistration.QrEventsWORegistrationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGNpaLadezvuQFPLMpWEHqsTxLdNWhPGk" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a5caa46009119f5e584e4964c30a922095b1075c" />

        <activity android:name="org.fpandhis2.usescases.datasets.datasetDetail.DataSetDetailActivity" />
        <activity android:name="org.fpandhis2.usescases.datasets.datasetInitial.DataSetInitialActivity" />
        <activity
            android:name="org.fpandhis2.usescases.datasets.dataSetTable.DataSetTableActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <receiver android:name="org.fpandhis2.widgets.DhisCustomLauncher">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dhis_custom_launcher_info" />
        </receiver>

        <activity android:name="org.fpandhis2.usescases.reservedValue.ReservedValueActivity" />
        <activity
            android:name="org.fpandhis2.usescases.eventsWithoutRegistration.eventCapture.EventCaptureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="org.fpandhis2.usescases.sync.SyncActivity" />
        <activity android:name="org.fpandhis2.usescases.development.DevelopmentActivity" />

        <service android:name="org.fpandhis2.usescases.sms.SmsSendingService" />
        <activity android:name="org.fpandhis2.usescases.teiDashboard.nfcdata.NfcDataWriteActivity" />
        <activity android:name="org.fpandhis2.usescases.about.PolicyView" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/content_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="org.fpandhis2.usescases.orgunitselector.OUTreeActivity" />
        <activity
            android:name="org.fpandhis2.usescases.enrollment.EnrollmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="org.fpandhis2.usescases.events.ScheduledEventActivity" />

        <activity android:name="org.fpandhis2.usescases.notes.noteDetail.NoteDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="org.fpandhis2.usescases.settingsprogram.SettingsProgramActivity" />

        <service
            android:name="org.fpandhis2.data.notifications.DhisFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>